@model IEnumerable<ProyectoComex.Models.Cliente> 

<h2>Los clientes</h2>


<div class="container">
	<table class="table table-borderer">
		<thead class="table-light">
			<tr>
				<th>Id</th>	
				<th>CUIT</th>	
				<th>RazonSocial</th>	
				<th>Telefono</th>
				<th>Direccion</th>
				<th>Activo</th>
				<th>Enlace</th>
			</tr>
			
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.CUIT</td>
					<td>@item.RazonSocial</td>
					<td>@item.Telefono</td>
					<td>@item.Direccion</td>
					<td>@item.Activo</td>
					<td>
						@* <a href="@Url.Action("Update", "Clientes", new { id = item.Id })">Editar</a> *@
						<a asp-action="Update" asp-route-id="@item.Id">Editar</a>
						@* /{controller}/{action}/{id?} *@
					</td>
				</tr>
				
			}

		</tbody>

	</table>

</div>

